.header__container_sub {
  background-color: black;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.9rem 0;
}

.app_logo__container {
  width: 8%;
}

.app_logo {
  width: 100%;
}

.app_name__container {
  width: 20%;
  display: flex;
  justify-content: center;
}

.app_name {
  color: white;
  font-size: 3.2rem;
}

.current_location_sup {
  width: 65%;
}
