.main {
}

.header__container_sup {
  width: 100vw;
}

.content__container {
  width: 95%;
  margin: auto;
  padding: 1rem 0;
  display: grid;
  grid-template-columns: 31% 31% 31%;
  column-gap: 3.5%;
  grid-template-areas: "popLocations1 search popLocations2";
}

.search__container_sup {
  grid-area: search;
}

.popular_locations__container_1 {
  grid-area: popLocations1;
}

.popular_locations__container_2 {
  grid-area: popLocations2;
}

.popular_locations__container_sup {
  padding: 0.8rem;
  background-color: black;
  border: 0.01px solid black;
  border-radius: 20px;
}
